link(href="/public/style/header.css" rel='stylesheet')
div
  h1.main_title Khipher.


  ul(class="nav nav-tabs")
    li(role="presentation" id="tab_md1")
      a(href="#md1") MD1
    li(role="presentation" id="tab_md2")
      a(href="#md2") MD2
    li(role="presentation" id="tab_md5")
      a(href="#md5") MD5
    li(role="presentation" id="tab_sha1")
      a(href="#sha1") SHA1
    li(role="presentation" id="tab_sha128")
      a(href="#sha128") SHA128
    li(role="presentation" id="tab_sha256")
      a(href="#sha256") SHA256
