div.previous
  h3(style="text-align: center;") Previous Entries

  div(style="background-color: lightgrey; width: 100%; height: 1px; margin: 0 auto;")

  div.elements(style="padding: 20px")
    h4 md5
    p
    |e25ea914bedad0f1561bd195240fcd48
    br
    br
    h4 md5
    p
    |e25ea914bedad0f1561bd195240fcd48
    br
